html, body {margin: 0; height: 100%; overflow: hidden}

* {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
 }


.home-page-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 64vmax;
    /* height: 100vmax; */
    width: fit-content;
    /* background-color: aquamarine; */
}

li.nav-links:hover {
  background-color: grey;
  cursor: pointer;
}

/* li.nav-links {
  list-style-type: none;
} */

li.nav-links.new{
  display: flex;
  padding-left: 43px;
  color: #00A82D;
  font-size: 14px;
}

.Notebook-container {
 padding: 15px;
}
