.home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: fit-content;
    /* background-color: aquamarine; */
}

li.nav-links:hover {
  background-color: grey;
  cursor: pointer;
}

/* li.nav-links {
  list-style-type: none;
} */

li.nav-links.new{
  color: #00A82D;
}

.Notebook-container {
 padding: 15px;
}
