.note-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vmax;
}

.title-box {
  width: 100% ;
  /* border-radius: 25px;
  padding-left: 5px; */
  font-size: x-large;
  padding: 0;
  margin: 0;
  /* border: none; */
}

.note-body {
  margin: 10px;
}

.note-content {
  width: 53%;
  height: 370px;
  border-radius: 25px;
  padding-left: 10px;
  font-size: x-large;
}

.note-header {
  font-size: 30px;
  padding-left: 10px;
  margin: 20px 0 20px 0;
}

.select-dropdown {
  width: fit-content;
  margin-left: 30px;
  height: 25px;
  border-radius: 25px;
  font-size: small;
}

.btn-red {
background-color: red;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
width: fit-content;
}

.btn {
background-color: #00A82D;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: 4px;
cursor: pointer;
width: fit-content;
}

.note-actions {
  margin-top: 5px;
}

.editor {
  /* text-align: center; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
