.login-cta {
 color: black;
}

a {
  color: black;
  display: block;
}

a:hover {
  color: #00A82D;
}

.nav {
  display: block;
}

.splash-title {
  font-size: 40px;
}

.splash-sub-title {
  font-size: 25;
}

.splash-header {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-preview {
  height: 100%;
  width: fit-content;
  background: #313031;
  display: flex;
  justify-content: center;
}

.backgroundImg {
  height: 400px;
  width: 700px;
  margin: 10px;
}
