.login-cta {
 color: black;
 margin: 16px 0 16px 0;
}

a {
  color: black;
  display: block;
}

a:hover {
  color: #00A82D;
}

.nav {
  display: block;
}

.splash-title {
  font-size: 40px;
  margin: 40px 0 40px 0;
}

.splash-sub-title {
  font-size: 25;
  margin: 16px 0 16px 0;
}

.splash-header {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 670px;
}

.home-preview {
  height: 100%;
  width: fit-content;
  background: #313031;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.backgroundImg {
  height: 400px;
  width: 700px;
  margin: 10px;
}

#root {
  /* margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; */
}

.splash-create-link-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 48px;
}

.splash-links.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-top: 2px solid  black;
}


/* @media only screen and (min-height: 800px) {
  .splash-header {
    height: 800px;
  }
}

@media only screen and (max-height: 795px) {
  .splash-header {
    height: 670px;
  }
} */
